<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Spring Boot File Upload / Download Rest API Example</title>
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>

	<div class="upload-container">
		<div class="upload-header">
			<h2>Benvenuto nella Sezione di caricamento immagini!</h2>
		</div>
		<div class="upload-content">
			<div class="single-upload">
				<h3>Carica la tua foto</h3>


				<form id="singleUploadForm" name="singleUploadForm"
					th:action="@{/uploadFoto}" th:object="${fotografia}" method="post"
					enctype="multipart/form-data">

					<h3 class="text-center text-info">Inserisci foto</h3>

					<div class="form-group">
						<label for="nome" class="text-info">Nome:</label><br> <input
							type="text" name="nome" id="nome" class="form-control"
							th:field="*{nome}">
					</div>

					<div class="form-group">
						<label for="descrizione" class="text-info">Descrizione:</label><br>
						<textarea class="form-control" name="descrizione" id="descrizione"
							rows="3" th:field="*{descrizione}"></textarea>
					</div>

					<div class="form-group">
						<label for="file"></label> <input type="file"
							class="form-control-file" id="file" name="file">
					</div>

					<div class="form-group">
						<input type="submit" name="submit" class="btn btn-info btn-md"
							value="Upload">
					</div>

				</form>




				<div class="upload-response">
					<div id="singleFileUploadError"></div>
					<div id="singleFileUploadSuccess"></div>
				</div>

			</div>

			<form th:action="@{/showFotografie}" method="GET">
				<table>

					<tr>
						<td>
							<button type="submit">Bottone temporaneo per visione di
								tutte le immagini nel DB</button>
						</td>

					</tr>

				</table>

			</form>

		</div>
	</div>
	<script src="/js/main.js"></script>
</body>
</html>