<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h1>Elenco Fotografi</h1>
		<ul>
			<li th:each="fotografo : ${fotografi}">
				<div th:text="${fotografo.nome}">Oranges</div>
				<div th:text="${fotografo.cognome}">Oranges</div>
				<div>
					<form th:action="@{/showFotografieAlbum}" method="GET">
						<button type="submit">Visualizza foto del fotografo</button>
					</form>
				</div>
			</li>
		</ul>

	</div>
</body>
</html>