<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h4>Fotografie</h4>
		
		<ul>
			<!-- Finchè trovi uno studente, stampa una lista puntata -->
			
			<li th:each="fotografia : ${fotografie}"> 
			
				<div th:text="${fotografia.nome}">Oranges </div>

				<div th:text="${fotografia.descrizione}">Oranges </div>

				<img width="200" height="200" th:src="@{'upload' + '/' + ${fotografia.id}}"/>
				
			</li>
		</ul>
		
	</div>
</body>
</html>