<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<title>Homepage Silph</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- styles -->
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrapVesperr.css"
	th:href="@{/css/bootstrapVesperr.css}">

<link rel="stylesheet" type="text/css"
	href="../static/css/overwrite.css" th:href="@{/css/overwrite.css}">

<link rel="stylesheet" type="text/css"
	href="../static/css/font-awesome.css"
	th:href="@{/css/font-awesome.css}">

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap-responsive.css"
	th:href="@{/css/bootstrap-responsive.css}">

<link rel="stylesheet" type="text/css"
	href="../static/css/prettyPhoto.css" th:href="@{/css/prettyPhoto.css}">

<link rel="stylesheet" type="text/css" href="../static/css/animate.css"
	th:href="@{/css/animate.css}">

<link
	href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700"
	rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}">

<link rel="stylesheet" type="text/css" href="../static/css/default.css"
	th:href="@{/css/default.css}">



<!-- Javascript Library Files -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.easing.js"
	th:src="@{/js/jquery.easing.js}"></script>
<script src="../static/js/bootstrapVesperr.js"
	th:src="@{/js/bootstrapVesperr.js}"></script>
<script src="../static/js/jquery.parallax-1.1.3.js"
	th:src="@{/js/jquery.parallax-1.1.3.js}"></script>
<script src="../static/js/nagging-menu.js"
	th:src="@{/js/nagging-menu.js}"></script>
<script src="../static/js/jquery.nav.js" th:src="@{/js/jquery.nav.js}"></script>
<script src="../static/js/jquery.prettyPhoto.js"
	th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script src="../static/js/jquery.quicksand.js"
	th:src="@{/js/quicksand.js}"></script>
<script src="../static/js/setting.js" th:src="@{/js/setting.js}"></script>
<script src="../static/js/jquery-hover-effect.js"
	th:src="@{/js/jquery-hover-effect.js}"></script>
<script src="../static/js/jquery.scrollTo.min.js"
	th:src="@{/js/jquery.scrollTo.min.js}"></script>
<script src="../static/js/animate.js" th:src="@{/js/animate.js}"></script>
<script src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</head>

<body>
	<header>
		<!-- start top -->
		<div id="topnav" class="navbar navbar-fixed-top default">
			<div class="navbar-inner">
				<div class="container">
					<div class="logo">
						<a href="index.html"><img src="assets/img/logo.png" alt="" /></a>
					</div>
					<div class="navigation">
						<nav>
							<ul class="nav pull-left">
								<li class="current"><a href="/" class="external">Home</a></li>
							</ul>
							<ul class="nav pull-right">
								
								<li><a sec:authorize="isAnonymous()" href="/"
									class="text-white external">Effettua il Login</a></li>
								
								<li><a sec:authorize="isAuthenticated()" href="/logout"
									class="text-white external">Effettua il logout</a></li>
									
								<li class="dropdown"><a href="#">Richieste</a>
									<ul class="dropdown-menu">
										<li><a href="/aggiungiRichiesta" class="external">Aggiungi Richiesta</a></li>
										<li><a sec:authorize="isAuthenticated()" href="/allRichieste" class="external">Visualizza Richieste</a></li>
									</ul>								
								
								<li class="dropdown"><a href="#">Visualizza</a>
									<ul class="dropdown-menu">
										<li><a href="/allFotografie" class="external">Fotografie</a></li>
										<li><a href="/allAlbum" class="external">Album</a></li>
										<li><a href="/allFotografi" class="external">Fotografi</a></li>
									</ul>
								<li class="dropdown"><a sec:authorize="isAuthenticated()" href="#">Aggiungi</a>
									<ul class="dropdown-menu">
										<li><a href="/aggiungiFotografia" class="external">Fotografie</a></li>
										<li><a href="/aggiungiAlbum" class="external">Album</a></li>
										<li><a href="/aggiungiFotografo" class="external">Fotografi</a></li>
									</ul></li>
							</ul>
						</nav>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<!-- end top -->
	</header>
	<!-- section intro -->
	<section id="intro">
		<div class="slogan">
			<h1>
				Benvenuto in <span>SILPH</span>, galleria di fotografie
			</h1>
			<h2>Una fotografia per ogni tua esigenza</h2>
		</div>
	</section>
	
	<div id="login" sec:authorize="isAnonymous()" align="center">
			<h3 class="text-center text-white pt-5"></h3>
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">
							<form id="login-form" th:action="@{/login}" th:object="${funzionario}" method="post">
								<h1 class="text-center text-info">Login</h1>
								<br>
								<div class="form-group">
									<label for="nome" class="text-info">Username:</label><br> <input type="text"
										name="username" id="username" class="form-control" th:field="*{username}">
								</div>
								<div class="form-group">
									<label for="nome" class="text-info">Password:</label><br> <input type="password"
										name="nome" id="nome" class="form-control" th:field="*{password}">
								</div>
								<br>
								<div class="form-group">
									<input type="submit" name="submit" class="btn btn-info btn-md" value="Conferma">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>
