<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h1>Album</h1>
		<div>
			Nome: <span th:text="${album.nome}"></span>
		</div>
		<div>
			Descrizione: <span th:text="${album.descrizione}"></span>
		</div>
		<div>
		
		<form th:action="@{/showFotografieAlbum}" method="GET">
		<table>
			<tr>
				<td>
					<button type="submit">Visualizza foto Album</button>
				</td>
			</tr>
		</table>
	</form>
		</div>
	</div>
</body>
</html>