<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h4>Fotografo</h4>
		<div>
			Nome: <span th:text="${fotografo.nome}"></span>
		</div>
		<div>
			Cognome: <span th:text="${fotografo.cognome}"></span>
		</div>
		<div>
		<form th:action="@{/showFotografieFotografo}" method="GET">
		<table>
			<tr>
				<td>
					<button type="submit">Visualizza foto del Fotografo</button>
				</td>
			</tr>
		</table>
	</form>
		</div>
	</div>
</body>
</html>